@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --black: #000000;
  --catalina: #06327d;
  --bluetiful: #2b70e4;
  --vegan: #209d5c;
  --sunglow: #ffd034;
  --white: #ffffff;
  --light-blue: #cadbf8;
  --main-font: Montserrat;
}
/* BASIC FORMATTING */

body {
  color: black;
  background-color: var(--catalina);
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--main-font);
}
.container {
  max-width: 1200px;
  padding: 0;
  margin: auto;
}

img {
  max-width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
  border-radius: 6px;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
h3 {
  font-size: 1.75rem;
  line-height: 1.1667;
  font-weight: 300;
}

.button {
  background-color: var(--catalina);
  color: var(--white);
  border-radius: 6px;
  padding: 1rem;
  text-decoration: none;
}
.green-button {
  background-color: var(--vegan);
  color: var(--white);
  border-radius: 6px;
  padding: 1rem;
  text-decoration: none;
}

.background-color {
  background-color: var(--light-blue);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
  gap: 2rem;
}

a {
  color: var(--white);
  text-decoration: none;
}

.logo {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}
header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 4px solid var(--sunglow);
}

footer {
  margin-top: 0;
  padding: 0;
  text-align: center;
  color: var(--white);
}
.card1 {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  background-color: var(--white);
  margin: 0;
  padding: 0;
}

.all-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: var(--light-blue);
  margin: 0;
  padding: 0;
  border-bottom: 2px solid var(--sunglow);
}

.latte-card {
  margin: 2rem;
  padding: 0;
}

.iced-card {
  margin: 2rem;
  padding: 0;
}

.chocolate-card {
  margin: 2rem;
  padding: 0;
}

.coffee-card {
  margin: 2rem;
  padding: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media (min-width: 650px) {
  .all-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  header {
    justify-content: space-between;
  }
  .all-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  nav {
    justify-content: space-between;
  }
}

/* Latte Page */

main {
padding: 0;
margin: 4rem;
background-color: var(--light-blue);
border-bottom: 3px solid var(--sunglow);
text-align: left;
}

h2 {
  text-align: center;
}
h1 {
  font-size: 3rem;
  line-height: 1.1667;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  color: var(--white);
}

nav {
  padding-bottom: 2rem;
} 

.button2 {
  background-color: var(--vegan);
  border-radius: 6px;
  padding: 0.5rem;
  text-decoration: none;
}
